:root {
    /* deja estas variables sin cambiar*/
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    /*? crea las variables: 
    --blanco: dale el color blanco
    --gris: dale un color gris (puedes usar este codigo #a7a5a5) 
    --negro: dale el color negro
    --primario: dale un color a tu gusto!!! */

}

/*! DESDE AQUI, NO TOQUES NADA!!!*/
html {
    box-sizing: border-box; /* el border,padding no afecte los elementos */
    font-size: 62.5%; /* 1 rem = 10px SUPER RECOMENDADO*/    
}
*, *:before, *:after {
    box-sizing: inherit; /* para que herede a sus elementos todos sus propiedades*/
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor { /* clase para usar mis contenedores*/
    width: min(90%, 120rem); 
    margin: 0 auto; /* con esto vamos a centrar los elementos en mis contenedores*/
}

a {
    text-decoration: none; /*a los enlaces le vamos a quitar los subrayados */
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2; /* cambiamos el espacio entre lineas de los titulos*/
    -webkit-text-stroke: 1px black; /* Para navegadores basados en WebKit */
    color: white; /* Color del texto */
}

/* diferentes tamaños de letras para cada uno de los elementos titulares*/
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/*!!!!---- Desde aqui hasta abajo, debes crear el codigo!!! !!!!!*/

/** Header **/
/* crea la clase header: dale una imagen de fondo usando el banner-barberia.
su altura sera de 60rem. Agrega luego este codigo:
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   */

/* crea la clase header__texto: alinea el texto al centro, dale el color a las letras usando la variable (--blanco), y con un margin-top de 15rem*/


/* crea la clase barra: agregale un display del tipo flex, alinea los items en el centro, y justifica el contenido con un space-between. agrega un padding-top de 4rem*/


/*crea la clase logo: dale el color blanco a las letras, usando la variable --blanco*/


.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}
/* crea la clase navegacion: usa un display flex, con un gap de 2rem*/



/* crea la clase navegacion__enlace: usa un display block, alinea el texto al centro, y cambia el tamaño de la fuente a 1.8rem y al color de la letra en blanco*/


/* crea la clase contenido-principal: el display grid, y usa el template-columns para pasar 2 parametros, uno de 1fr y otro de 0.5fr.
dale un gap a las columnas de 4rem
*/


.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

/* crea la clase boton:
dale un display del tipo inline-block, usa la fuente de --fuenteHeading, y dale el color --blanco
alinea los textos al centro. cambia el tamaño de fuente a 1.8rem. Luego, agrega dentro, estas lineas:
padding: 1rem 3rem;
text-transform: uppercase;
font-weight: 700;
margin-bottom: 2rem;
border: none;
*/


.boton:hover {
    cursor: pointer;
    /* AÑADE UN EFECTO A TU GUSTO (USANDO UN @KEYFRAMES u otros)*/
}


/*crea la clase boton--primario: dale un color de fondo usando tu color --negro*/

/*crea la clase boton--secundario: dale un color de fondo usando tu color --secundario*/

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

/*Crea la clase footer: dale un fondo usando la variable negro, un padding-bottom de 3rem y un margin superior de 4rem*/


/** Sobre Nosotros **/
/* crea la clase sobre-nosotros: dale un display del tipo grid, y usa el template columns con un repeat de (2,1fr), crea el column gap de 2rem*/


/** Cursos **/
/* crea la clase curso: dale un display grid, con un template columns de 1fr y 2fr, un gap de 2rem, y un border-bottom de 1 px solid con el color de tu variable --gris.
por ultimo, agrega esta linea: 
padding: 3rem 0; 
*/


.curso:last-of-type {
   border: none;
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info {
    font-weight: normal;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}

/** Contacto **/
/* cre la clase contacto-bg: dale la imagen de fondo usando la imagen sobre-nosotros (averigua como usar el metodo url() para poner una imagen en css)
dale una altura de 40rem, un background-size cover y background-repeat que sea no-repeat */

/* crea la clase formulario: dale un fondo con la variable --blanco, un margin de: -5rem auto 0 auto
agrega que su ancho sea del 95% y que el padding sea de 5rem*/

.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}

.img-entrada{
    width: 550px;
}

/*PUNTOS EXTRA: podes crear tus propios estilos y tambien usar @keyframes para darle efecto a la pagina!!!*/